//- styles
//- fontawesome cdn
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css", integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")        
//- tailwindcss stylesheets
link(rel="stylesheet" type="text/css" href='/assets/styles/styles.css'  )
link(rel="stylesheet" type="text/css" href='/assets/styles/output.css')
//- local stylesheet
link(rel="stylesheet" type="text/css" href='/assets/styles/main.css')
//- scripts
//- jquery
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
//- barba
script(src="https://cdn.jsdelivr.net/npm/@barba/core")
//- gsap
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
//- local js
script(src='/assets/script.js')