input(type="checkbox" id="overlay-input")
label(for="overlay-input" id="overlay-button")
    span
#overlay
    ul
        li
            a(href="home") Home
        li
            a(href="projects") Projects
        li
            a(href="skills") Skills
        li
            a(href="about") About
        li
            a(href="contact") Contact