a(href="../assets/downloads/2020-Resume-RobertSchmahl.pdf" download="2020-Resume-RobertSchmahl.pdf" id="resumeAnimation" class=`resumeDwnload flex flex-wrap resumeLink bg-gray-100 rounded-lg py-5 px-3 ${hoverEnlarge}`)
    i(class="fa fa-download fa-2x" style="color: Mediumslateblue;")
    p(class="flex-wrap text-lg text-indigo-800 ml-2") Download my resume
    span(class="flex items-center text-sm italic text-indigo-800")  &nbsp;(pdf 110kb)