doctype html
html(lang='en')
    head
        title Robert Schmahl
        //- styles
        //- fontawesome cdn
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css", integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")        
        //- tailwindcss stylesheets
        link(href='../assets/styles/styles.css' rel='stylesheet')
        link(href='../assets/styles/output.css' rel='stylesheet')
        //- local stylesheet
        link(href='../assets/styles/main.min.css' rel='stylesheet')
        //- scripts
        //- jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        //- local JS
        script(src='../assets/script.js')

    body

      main.wrapper(class="page_style bg-gradient-to-br from-indigo-900 via-blue-800 to-blue-600 h-screen w-screen")
        div.introduction(class="page_description grid grid-rows-6 grid-flow-col justify-center text-center gap-10 text-white")
          .row-span-3
          h1.typewriter(class="row-span-1 font-medium text-4xl invisible") Hi, my name is Robert.
          h1.typewriter(class="row-span-1 font-normal text-3xl invisible") I am a full-stack web developer and graphic designer.