@import './pageRender';
@import './buttonStyles';

dt {
    padding-top: 0.5%;
}

nav {
    z-index: 0;
}

.introduction {
    margin-top: 20%;
}

.overlay {
    background: url(../imgs/robert-1.png);
    background-repeat: repeat;
    margin-left: -20%;
    margin-bottom: -10%;
    opacity: 0.20;
    position: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 0;
}

.aboutContent {
    width: 50%;
}

.project {
    width: 25%;
    height: 25%;
}

.skillCard {
    width: 30%;
    height: 25%;    
}