dt {
  padding-top: 0.5%;
}

nav {
  z-index: 0;
}

// ====================================================
// Nav menu button styles
// ====================================================
// Colors //
$color: #5533ff;
$color2: #38e2ee;
$deeper: darken($color, 5%);
$lighter: lighten($color2, 10%);

// Shadows //
@mixin box_shadow($level) {
  @if $level == 0 {
    box-shadow: none;
  } @else if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

// Button specific styles
.btn_nav {
  background: #151e3d;
  box-shadow: 0px 0px 0px 5px rgba(white, 0.95);
  border: 0.5px solid white;
  transition: 0.3s all ease-in-out;

  &:hover {
    background: #59788e;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.85);
  }
  &.active {
    background: #59788e;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.85);
  }
}

// ====================================================
// styles for mobile nav menu
// ====================================================
#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}

// overlay button styles for mobile nav menu
#overlay-button {
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
    &:before {
      top: -10px;
      visibility: visible;
    }
    &:after {
      top: 10px;
    }
    &:before,
    &:after {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
      position: absolute;
      content: "";
      transition: all 0.2s ease-in-out;
    }
  }
  &:hover span,
  &:hover span:before,
  &:hover span:after {
    background: #333332;
  }
}

input[type="checkbox"] {
  display: none;
}

// when button is checked show the nav menu
input[type="checkbox"]:checked ~ #overlay {
  visibility: visible;
}

// when button is checked perform animation on button
input[type="checkbox"]:checked ~ #overlay-button {
  &:hover span,
  span {
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

// ====================================================
// styles for transition animation
// ====================================================
ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

// ====================================================
// styles for homepage
// ====================================================
.introduction {
  margin-top: 20%;
}

// ====================================================
// styles for about page
// ====================================================
.overlay {
  background: url(../imgs/robert-1.png);
  background-repeat: repeat;
  margin-left: -20%;
  margin-bottom: -10%;
  opacity: 0.2;
  position: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.aboutContent {
  width: 50%;
}

// ====================================================
// styles for project page
// ====================================================
.project {
  width: 25%;
  height: 25%;
}

// ====================================================
// styles for skill page
// ====================================================
.skillCard {
  width: 30%;
}

// resume download animation

.resumeAnimation {
  position: relative;
  overflow: hidden;
  width: 25%;
}

.resumeDwnload {
  position: fixed;
  width: 25%;
  left: -25%;
  margin-top: 5%;
  padding-left: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}

@-webkit-keyframes slide {
  100% {
    left: -2%;
  }
}

@keyframes slide {
  100% {
    left: -2%;
  }
}

// ====================================================
// media queries
// ====================================================
// desktop
@media (min-width: 1201px) {
  #overlay {
    visibility: hidden;
    display: none;
  }

  #overlay-button {
    visibility: visible;
    display: none;
  }

  .socialButtons {
    visibility: hidden;
  }
}

// mobile
@media (max-width: 1200px) {
  // overall styles
  main {
    display: flex;
    position: relative;
    z-index: 3;
  }

  .text {
    &-4xl {
      font-size: 6vw;
      margin-top: 5rem;
    }
    &-3xl {
      font-size: 4.2vw;
      margin-top: 5rem;
    }
    &-2xl {
      font-size: 5vw;
    }
    &-xl {
      font-size: 4vw;
    }
  }

  .font-normal {
    font-size: 3vw;
  }

  .fa-3x {
    font-size: 4em;
  }

  p {
    font-size: 3vw;
  }

  dl {
    font-size: 3vw;
  }

  // mobile nav menu
  #overlay ul {
    font-size: 8vw;
  }

  // homepage introduction div
  .introduction {
    margin-top: 50%;
  }

  // wrappers on every page
  .wrapper {
    position: static;
    max-width: 950px;
    height: 100%;
    margin: 0;
  }

  // imgs on every page
  img {
    width: 400px;
  }
  // if mobile screen, hide the large nav
  .desktop {
    display: none;
  }

  #overlay {
    visibility: hidden;
    display: block;
  }

  #overlay-button {
    visibility: visible;
    display: block;
  }

  // **** Media queries for projects page
  .project {
    width: 80vw;
    height: auto;
    margin-top: 1rem;
    img {
      width: auto;
      max-width: 100%;
    }
  }

  // **** Media queries for skills page

  .skillCard {
    width: 40rem;
    height: auto;
    padding: 1.5rem;
    margin-top: 1rem;
  }

  .skills {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 0;
  }

  // **** Media queries for resume download animation
  .resumeDwnload {
    position: fixed;
    width: auto;
    left: -60%;
    margin-top: 5%;
    padding-left: 4%;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
  }

  // **** Media queries for about page
  .aboutBG {
    height: 100vh;
  }

  .aboutHeader {
    position: relative;
    top: 3rem;
  }

  .bg-local {
    visibility: hidden;
  }

  .aboutContent {
    position: relative;
    width: 80%;
    top: 4rem;
  }

  // **** Media queries for contact page

  .contactBG {
    height: 100vh;
  }

  iframe {
    position: relative;
    top: 5rem;
    width: 70vw;
  }

  .contactButtons {
    visibility: hidden;
  }

  .contactContents {
    top: auto;
  }

  // social media buttons styles
  .socialButtons {
    visibility: visible;
    display: inline-block;
    position: relative;
    top: 27%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  // social media buttons: icons
  .mobile {
    color: #4c51bf;;
    bottom: 1rem;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    position: relative;
    display: inline-block;
    width: 9rem;
    height: 9rem;
    padding-top: 0.5rem;
    margin: 0 0.5rem;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;

    //  hover bg color
    &:hover {
      background: #ef92a3;
    }
  }
}

